<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="text-align:right">
  <tr>
    <td colspan="5">عومی ہدایات</td>
  </tr>
  <tr>
    <td>(۱)</td>
    <td colspan="4">غور سے پڑہیں اور ہر سوال کا جواب دیں</td>
  </tr>
  <tr>
    <td>(۲)</td>
    <td colspan="4">ہر کثیر الانتخابی سوال کے صحیحج جواب پر دایُرۃ لگایُں جیسا کہ مثال میں دکھایا گیا ھے</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan="4">مثال : چیچڑ کی وجہ سے پھیلنے والی بیماری ہے :</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>(ا) پولیو</td>
    <td>(ب) خسرہ</td>
    <td>(ج) ڈینگی</td>
    <td>(د) کانگو</td>
  </tr>
  <tr>
    <td>(۳)</td>
    <td colspan="4">اگر کسی سوال میں ایک سے زیادہ جوابات پر دایُرہ لگایا گیا تو کوُی نمبر نہیں دیا جاے گا</td>
  </tr>
</table>



<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>General Instruction for students : <span style="text-align:right">عومی ہدایات</span></td>
  </tr>
  <tr>
    <td>Use mask and keep 3 feet distance from each other.</td>
  </tr>
  <tr>
    <td style="text-align:right">ماسک کا استعمال کریں اور 3 فٹ کا فاصلہ رکھیں</td>
  </tr>
  <tr>
    <td>Encircle the correct option for each of the Multiple Choice Questions (MCQs) as shown in the example given below.</td>
  </tr>
  <tr>
    <td style="text-align:right">غور سے پڑہیں اور ہر سوال کا جواب دیں</td>
  </tr>
  <tr>
    <td>Example : Hepatitis is caused by : <span style="text-align:right">ہیپٹٰا یٹس کی وجہ ہے</span></td>
  </tr>
  <tr>
    <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
              <td style="width:25%">(a) Fungi <span style="text-align:right">فنجاُی</span></td>
              <td style="width:25%">(b) Bacteria <span style="text-align:right">بیکٹریا</span></td>
              <td style="width:25%">(c) Virus <span style="text-align:right">واٰیرس</span></td>
              <td style="width:25%">(d) Algae <span style="text-align:right">ایلجی</span></td>
          </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td>Use Black / Blue ink for writing. Use of lead pencil is not allowed</td>
  </tr>
  <tr>
    <td>کچی پنسل کا استعمال منع ہے کالے یا نیلے پین کا استعمال کریں</td>
  </tr>
  <tr>
    <td>If more than one optioned are encricled in a question, no mark will be given.</td>
  </tr>
  <tr>
    <td style="text-align:right">اگر کسی سوال میں ایک سے زیادہ جوابات پر دایُرہ لگایا گیا تو کوُی نمبر نہیں دیا جاے گا</td>
  </tr>
</table>

<table>
    <tr><td>General Instructions for students :</td></tr>
    <tr><td>(1) Read carefully and attempt all questions</td></tr>
    <tr><td>(2) Encircle the correct option for each of the Multiple Choice Questions (MCQs) as shown in the example given below.</td></tr>
    <tr><td>Emaple : I am ___________ my homework</td></tr>
    <tr>
        <td>
        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>(a) does</td>
                <td>(b) did</td>
                <td>(c) doing</td>
                <td>(d) done</td>
              </tr>
            </table>
        </td>
    </tr>
    <tr><td>Use Black / Blue ink for writing. Use of lead pencil is not allowed</td></tr>
    <tr><td>If more than one optioned are encricled in a question, no mark will be given.</td></tr>
</table>
</body>
</html>
